@import "tailwindcss";

/* Seus estilos globais personalizados (opcional) */
body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f9fafb; /* Cinza claro padrão do Tailwind (gray-50) */
  color: #111827; /* Cinza escuro padrão (gray-900) */
}